<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>LMNR</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font:24px bold;
            color: black;
        }
        td {
            padding: 5px;
        }
    </style>
</head>
<body>
<h2 th:text="${name}"></h2>
<h2 th:text="${unique_name}"></h2>
<br>
</body>
<table >
    <thead>
    <tr th:if="${!contacts.empty}" >
        <th> Email </th>
        <th> Phone </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${contacts.empty}">
        <td colspan="2" style="color: red; font:24px bold"> No Contacts Available </td>
    </tr>
    <tr th:each="contact : ${contacts}">
        <td><span th:text="${contact.email}"> Email </span></td>
        <td><span th:text="${contact.phone}"> Phone </span></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/app-logout}" method="post">
    <input style="color: blue" type="submit" value="LOGOUT"/>
</form>
</body>
</html>